.iconLink {
  transition: all 250ms;

  & svg {
    display: block;
  }
}

.iconLink,
.iconLink:visited {
  color: #b0b0b0;
}

.iconLink:hover {
  color: hsl(297, 100%, 34%);
}

.iconLink:active {
  color: hsl(297, 100%, 20%);
}
