.showcase {
  list-style: none;
  gap: var(--space-lg);
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.showcaseItem {
  border: 1px solid #d2d2d2;
  padding: var(--space-xxs);
  margin: 0;
}

.showcaseItemTitle {
  font-size: var(--text-sm);
}

.showcaseItemSubtitle {
  font-size: var(--text-sm);
  font-style: italic;
}

.showcaseItemWarning {
  font-size: var(--text-xs);
  color: #b0b0b0;
  font-style: italic;
}
