.nav {
  font-family: var(--big-john-font-stack);
  color: #0e0e0f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  margin-bottom: 1rem;
  position: relative;
}

.nav:after {
  // TODO!
}

.navLogo {
  font-size: var(--text-xl);
}

.navList {
  font-size: var(--text-sm);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1em;
}

.navLink::after {
  content: "";
  display: block;
  margin: 0.5rem auto 0 auto;
  width: 0;
  border-bottom: 2px solid transparent;
  transition: all 200ms;
}

.navLink:hover::after {
  width: 30%;
  border-bottom: 2px solid var(--deep-purple);
}

.navLink.navLinkActive:hover::after,
.navLink.navLinkActive::after {
  transition: all 200ms;
  width: 100%;
  border-bottom: 2px solid var(--deep-purple);
}

.dropdownTrigger {
  position: relative;

  &:hover .dropdownList {
    opacity: 1;
  }
}

.dropdownList {
  position: absolute;
  opacity: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    margin: 0.5em 0;
    text-align: center;
  }
}
