.footerContainer {
  text-align: center;
  font-size: var(--text-sm);
  color: #595959;
  margin: var(--space-sm) auto;

  > * {
    margin: var(--space-xxxs) auto;
  }
}

.footerContainer::before {
  content: "";
  display: block;
  margin: var(--space-xxxs) auto;
  width: 3rem;
  border-top: 1px solid lighten(#595959, 30%);
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: var(--space-xxs);
}

.emoji {
  opacity: 0.45;
}
