.expandableImage {
  cursor: pointer;
}

.expandedImageWrapper {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  z-index: 9999;
}

.closeButton {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
}
