.nav {
  font-family: var(--big-john-font-stack);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
}

.divider {
  border-bottom: 3px solid #f7f6eb;
}

.navLogo {
  font-size: var(--text-xl);

  &:focus {
    outline: 0.1em dashed transparent;
    outline-offset: 0.15em;
    outline-color: var(--text-color);
  }
}

.navList {
  font-size: var(--text-sm);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--space-lg);
}

.dropdownTrigger {
  position: relative;

  &:hover .dropdownList,
  &:focus-within .dropdownList {
    opacity: 1;
  }
}

.dropdownList {
  position: absolute;
  opacity: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;

  li {
    margin: var(--space-sm) 0;
    text-align: center;
  }
}

.socialLinks {
  font-size: var(--text-md);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--space-xs);
}
