.nav {
  font-family: var(--big-john-font-stack);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  margin-bottom: 1rem;
  position: relative;
}

.nav:after {
  // TODO!
}

.navLogo {
  font-size: var(--text-xl);
}

.navList {
  font-size: var(--text-sm);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--space-lg);
}

.dropdownTrigger {
  position: relative;

  &:hover .dropdownList {
    opacity: 1;
  }
}

.dropdownList {
  position: absolute;
  opacity: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    margin: 0.5em 0;
    text-align: center;
  }
}

.socialLinks {
  font-size: var(--text-md);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--space-xs);
}
